.box-header {
    background: darkblue;
    color: white;
}

#schedule-table {
    width: 100%;
}

.box {
    border: 1px solid grey;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
}

.number {
    background: navy;
    color: white;
}

th {
    border-bottom: 1px black solid;
}

.employee-table {
    width: 100%;
}

.box-title {
    background: red;
    color: black;
}